.rightbar {
    padding:25px 10px;
    flex: 0.33;
    /* background-color: lightblue; */
}

.sponsor > p {
    color: #474747
}

.rightbar__sponsor {
    display: flex;
    margin-top: 10px;
}

.rightbar__sponsor > img {
width: 100px;
height: 100px;
border-radius: 10px;
}

.rightbar__sponsor > img:hover {
   cursor: pointer;
   transform: scale(1.05);
    }

.rightbar__sponsorInfo {
    margin-left: 10px;
    font-size: small;
    flex: 1;
}

.email__info {
    color: gray;
}

.email__info:hover {
    color: lightseagreen;
    cursor: pointer;
}

.sponsor {
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

.halaman {
    margin-bottom: 20px;
}

.halaman > p {
    color: #474747;
   
}

.halaman__list {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.halaman__list:hover {
   transform: scale(1.05);
   cursor: pointer;
   font-weight: 700;

}

.halaman__list > p {
    font-size: small;
    color: gray;
    margin-left: 10px;
}

.halaman__header {
    display: flex;
    justify-content: space-between;
}

.halaman__header > .MuiSvgIcon-root{
    color: gray;
    cursor: pointer;
}

.sub__menu {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-size: small;
    color: gray;
   padding:5px 10px;
}

.sub__menu:hover {
   background-color: lightgray;
   border-radius: 10px;
   cursor: pointer;
}
.sub__menu > p {
   margin-left: 10px;
 }



